# Obsidian
.obsidian/
.DS_Store
__obsidian_vault/

# macOS
.DS_Store

# Drafts bleiben lokal (optional – siehe unten)
# _drafts/

/Untitled/
/Google IT Support Professional/
/assets/vault/

/__obsidian_vault/
/__obsidian_vault/